{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="width: 400px; padding: 100px 0px 200px 0px">
  <h2>Login to your  account</h2>
  <form action="{% url 'send_mail_user:login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="usernameField">Email:</label>
      <input  type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              value="" class="form-control" />
    </div>
    <div class="form-group">
      <label for="passwordField">Password:</label>
      <input  type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              id="passwordField"/>
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'send_mail_user:register' %}" class="badge badge-primary" >create a new account</a>
  </form>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}
