{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="width: 400px; padding: 100px 0px 200px 0px">
  <h2>Create your account</h2>
  <form action="{% url 'send_mail_user:register' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="usernameField">Username:</label>
      <input  type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              value="" class="form-control" />
    </div>
     <div class="form-group">
        <label for="emailField">Email:</label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="form-control"
          id="emailField" value="" />
     </div>
    <div class="form-group">
      <label for="passwordField">Password:</label>
      <input  type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              id="passwordField"/>
    </div>
    <div class="form-group">
      <label for="retypepasswordField">Retype Password :</label>
      <input  type="password"
              name="retypepassword"
              placeholder="Retype Password"
              class="form-control"
              id="retypepasswordField"/>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <a href="{% url 'send_mail_user:login' %}" class="badge badge-primary">back Login</a>
</div>
{% endblock content %}
