{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-4">
  <div style="padding-top: 200px">
    <p class="badge badge-info">Giỏ hàng không có sản phẩm. Vui lòng thực hiện lại.</p>
    <img src="https://salt.tikicdn.com/desktop/img/mascot@2x.png" class="rounded mx-auto d-block" alt="">
    <p>There are no products in your cart.</p>
  </div>
  <div class="row">
      <div class="col mb-2">
          <div class="row">
              <div class="col-sm-12  col-md-6">
                <a href="{% url 'home:home' %}"><button type="button" class="btn btn-primary btn-sm">Continue Shopping</button></a>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
