{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-4" style="padding:50px 0px 120px 0px">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in product_items %}
                        <tr>
                            <td><img width="50px" height="50px" src="{{ item.product.image.url }}" /> </td>
                            <td>{{ item.product.name }}</td>
                            <td>In stock</td>
                            <td>
                              <form action="{% url 'home:change_quantity' item.pk %}" method="POST" style="padding-left: 150px">
                                 {% csrf_token %}
                                <input type="number" id="quantity" value="{{ item.quantity }}" name="quantity" min="1" max="{{ item.product.quantity }}">
                                <input type="submit" value="Select">
                              </form>
                            <td class="text-right">{{ item.line_total }}$</td>
                            <td class="text-right"><a href="{% url 'home:delete_product' item.pk %}"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button></a> </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">${{ sum_price }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">$0</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>${{ sum_price }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                  <a href="{% url 'home:home' %}"><button class="btn btn-block btn-light">Continue Shopping</button></a>
                </div>
              {% if request.user.calculator_quality_order != 0 %}
                <div class="col-sm-12 col-md-6 text-right">
                  <a href="{% url 'home:check_out' %}"><button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button></a>
                </div>
              {% else %}
              <h3 style="color: red; padding-left: 100px;">No product in cart!!</h3>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
