{% extends 'base.html' %}
{% load static %}
{% block content %}
   <main role="main">

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for p in products %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ p.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <h3><a class="card-text" href="{% url 'home:detail' p.slug %}">{{ p.name }}</a></h3>
                  <p class="card-text">{{ p.title }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'home:add_to_cart' p.slug %}">Add to Cart</a></button>
                    </div>
                     <small class="text-muted">{{ p.price }}$</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
 </main>
{% endblock content %}
