{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container"  style="padding:90px 0px 220px 0px">
    {% for trans in transactions %}
      <a href="{% url 'home:invoice_detail' trans.pk %}"><li class="list-group-item">{{ trans.date }} - {{ trans.order }}</li></a>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
