{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="background: white">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">

						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="{{ p.image.url }}" /></div>
						</div>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{ p.name }}</h3>
						<p class="product-description">{{ p.title }}</p>
						<h4 class="price">current price: <span>${{ p.price }}</span></h4>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<h5 class="sizes">sizes:
							<span class="size" data-toggle="tooltip" title="small">s</span>
							<span class="size" data-toggle="tooltip" title="medium">m</span>
							<span class="size" data-toggle="tooltip" title="large">l</span>
							<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
						</h5>
						<div class="action">
              <a href="{% url 'home:add_to_cart' p.slug %}"><button class="add-to-cart btn btn-default" type="button">add to cart</button></a>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
