{% extends 'base.html' %}
{% load static %}
{% block content %}
   <main role="main">

      <div class="album py-5 bg-white">
        {% if products %}
        <div class="container">

          <div class="row">
            {% for p in products %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ p.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <h3><a class="card-text" href="{% url 'home:detail' p.slug %}">{{ p.name }}</a></h3>
                  <p class="card-text">{{ p.title }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'home:add_to_cart' p.slug %}">Add to Cart</a></button>
                    </div>
                     <small class="text-muted">{{ p.price }}$</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <div class="container mb-4">
          <div style="padding-top: 200px">
            <p class="badge badge-info">No results were found!</p>
            <img src="https://salt.tikicdn.com/desktop/img/mascot@2x.png" class="rounded mx-auto d-block" alt="">
            <p>No results were found</p>
          </div>
          <div class="row">
              <div class="col mb-2">
                  <div class="row">
                      <div class="col-sm-12  col-md-6">
                        <a href="{% url 'home:home' %}"><button type="button" class="btn btn-primary btn-sm">Continue Shopping</button></a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {% endif %}
      </div>
 </main>
{% endblock content %}
